/*
Title: WEB231 CSS File
Author: Professor Krasso
Modified by: Shelaine Walters
Date: October 23,1021
Description: CSS requirements provided from WEB 231 assignments.
*/

body{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}
#container{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
/*Start of headings*/
h1, h2, h3, h4{
    background-color: #3c275a;
    color: white;
    border:1px solid #d6a800;
    padding: 10px;
}
/*Start links decor*/
a{
    color: #453674;
    text-decoration: none;
}
a:hover{
    background-color: #d6a800;
    color:#4f3674;
}
a:visited{
    color:#3c275A;
}
/*End links decor*/
