/*
Title: WEB231 CSS File
Author: Professor Krasso
Modified by: Shelaine Walters
Date: October 27,1021
Description: CSS requirements for return link provided from WEB 231 assignments.
*/

/* Return link style*/
.return-home:link{
    color:#4F3674;
    text-decoration: none;
}
.return-home:visited{
    background-color: #3c275a;
}
.return-home:hover{
    background-color: #D6a800;
    color:#4F3674;
}