/*
Title: WEB231 CSS File
Author: Professor Krasso
Modified by: Shelaine Walters
Date: October 27,1021
Description: CSS requirements provided from WEB 231 assignments.
*/

.return-home:link{
    color:#4F3674;
    text-decoration: none;
}
.return-home:visited{
    background-color: #3c275a;
}
.return-home:hover{
    background-color: #4f3674;
}