/*
Title: WEB231 CSS File
Author: Professor Krasso
Modified by: Shelaine Walters
Date: October 27,1021
Description: CSS requirements provided from WEB 231 assignments.
*/

a:link .return-home{
    color:#4F3674;
    text-decoration: none;
}
a:hover{
    background-color: #D6A800;
}