

#form-results-example, #number-results{
    width: 600px;
    margin: 3% auto 0;
    text-align: center;
}

.app-header{
    text-align: center;
    font-size: 28px;
}

.label{
    font-size: medium;
}

/*Styling for select*/
.select{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}