#container{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
body{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

.app-header{
    text-align: center;
    font-size: 28px;
}
/*Styling for card*/
.card-container{
    width: 600px;
    margin: 3% auto 0;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

.card-content{
    font-size: medium;
}

/*Styling for card ends*/

/*Styling for list*/
th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4F3674;
    color: white;
    border: 1px;
    border-style: solid;
    border-color: #ddd;
}

td{
    border: 1px;
    border-style: solid;
    border-color: #ddd;
}
/*List ends*/

/*Hover decor*/
tr:hover{
    background-color: #d6a800;
    color: #4F3674;
    cursor: pointer;
}