
#container{
    padding: 10px;
}
body{
    font-size: 28px;
    padding-left: 20px;
}

#conversion-results{
    text-align: center;
}

.app-header{
    text-align: center;
    font-size: 28px;
}

#form-results-example, #form-example, #form-results-example{
    width: 600px;
    margin: 3% auto 0;
}