/*
Title: Assignment 4.2
Author: Professor Krasso
Modified by: Shelaine Walters
Date: November 9,1021
Description: CSS requirements provided from WEB 231 assignments.
Code attribution: Based on style provided by assignment
*/

.container{
    padding: 10px;
}

body{
    font-size: 28px;
    padding-left: 20px;
}

#form-results-example, #number-results{
    width: 600px;
    margin: 3% auto 0;
    text-align: center;
}

.app-header{
    text-align: center;
    font-size: 28px;
}

.label{
    font-size: medium;
}



