/*
Title: WEB231 CSS File
Author: Professor Krasso
Modified by: Shelaine Walters
Date: November 26,2021
Description: CSS requirements provided from WEB 231 assignments.
*/

table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4F3674;
    color: white;
    border: 1px;
    border-style: solid;
    border-color: #ddd;
}

td{
    border: 1px;
    border-style: solid;
    border-color: #ddd;
}