/*
Title: WEB231 CSS File
Author: Professor Krasso
Modified by: Shelaine Walters
Date: November 26,2021
Description: CSS requirements provided from WEB 231 assignments.
*/

table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}